body {
    margin-top: 50px;
    margin-left: 50px;
}

#character_form {
    display: flex;
    flex-direction: column;

    margin-top: 100px;
    margin-bottom: 75px;
}

#character_form > input {
    max-width: 250px;
    min-width: 250px;

    margin-bottom: 10px;
}